services:
  fastapi:
    build:
      context: ./python-fastapi
      dockerfile: Dockerfile
    container_name: fastapi
    ports:
      - "8000:8000"
    environment:
      UPLOADS_DIR: "data/uploads"
      PROCESSED_DIR: "data/processed"
      OLLAMA_BASE_URL: "http://ollama:11434"
      OLLAMA_MODEL: "llama3.2:3b"

  streamlit:
    build:
      context: ./python-streamlit
      dockerfile: Dockerfile
    container_name: streamlit
    ports:
      - "8501:8501"
    environment:
      BACKEND_URL: "http://fastapi:8000"

  ollama:
      image: ollama/ollama:latest
      ports:
        - "11434:11434"
      volumes:
        - ollama:/root/.ollama

volumes:
  ollama: