services:
  fastapi:
    build:
      context: ./python-fastapi
      dockerfile: Dockerfile
    container_name: fastapi
    ports:
      - "8000:8000"
    environment:
      UPLOADS_DIR: "data/uploads"
      PROCESSED_DIR: "data/processed"

  streamlit:
    build:
      context: ./python-streamlit
      dockerfile: Dockerfile
    container_name: streamlit
    ports:
      - "8501:8501"
    environment:
      BACKEND_URL: "http://fastapi:8000"
